html {
    background-color: rgb(27, 188, 155);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

body {
    max-width: 680px;
    height: 340px;
    margin: 0 auto;
    pad: 0 auto;
}

form {
    max-width: 380px;
    height: 250px;
    margin: 30px auto;
    padding: 25px 30px;
    background-image: url(icons/dialogWindow.png);
    background-repeat: no-repeat;
    background-size: 380px 250px;
}

input {
    display: block;
    margin: 0 0 20px 13px;
    width: 293px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

figure {
    float: left;
    margin: 0;
}
::-webkit-input-placeholder {
    opacity: .5;
}

.userData {
    padding-left: 20px;
}
.submit {
    width: 313px;
    margin: 0 0 0 13px;
    background-color: rgb(27, 188, 155);
    color: white;
}
.lost {
    width: 313px;
    font-size: 12px;
    opacity: .3;
}

.userData:hover, .userData:active{
    border: 1px rgb(27, 188, 155) solid;
}
:active, :hover, :focus {
    outline: none;
}
.submit:hover {
    color: rgb(227, 79, 67);
}
.submit:active {
    background-color: rgb(227, 79, 67);
    color: white;
}
.lost:hover {
    color: rgb(27, 188, 155);
    opacity: 1;
}
.lost:active {
    text-decoration: underline;
}
