html {
    background: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: rgb(255, 255, 255);
    line-height: 1.7;
}

body {
    max-width: 640px;
    height: 500px;
    margin: 30px auto;
    padding: 40px auto;
    border: 2px rgb(204, 204, 204) solid;
}

.formWin {
    width: 460px;
    height: 420px;
    margin: 40px auto;
    padding: 40px auto;
    border: 2px rgb(255, 255, 255) solid;
}
.topText {
    background: rgb(73, 73, 73);
    width: 300px;
    height: 100px;
    margin: 40px auto;
    padding: 30px auto;
    border: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6) inset;
}

p {
    width: 220px;
    height: 40px;
    margin: 25px auto;
    text-align: center;
}

input {
    background-color: rgb(73, 73, 73);
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 50px;
    border: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6) inset;
    position: relative;
}

.text {
    background-image: url(icons/user.png);
    
}
.tel {
    background-image: url(icons/phone.png);
}

.persData:placeholder-shown {
    padding-left: 60px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 1px 1px;
}
.button {
    width: 300px;
    background-color: rgb(8, 157, 224);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}